<!--
<script src="/js/foundation/foundation.dropdown.js" >
-->
<ul class="unstyled">
  <input type="text" placeholder="Título del cuestionario" ng-model="container.title"/>
  <textarea placeholder="Descripción del cuestionario" ng-model="container.description"></textarea>
  <li ng-repeat="question in container.questions">
    <span>{{ question.title }}</span>

    <ul ng-repeat="answer in container.question.answers">
      {{ answer.title }}
    </ul>
  </li>
</ul>
<a href="#/new">Añadir pregunta</a>
<a ng-click="saveQuestionnaire()">Guardar</a>

<!--
<ul id="dropdown" class="f-dropdown">
  <li><a href="#">This is a link</a></li>
  <li><a href="#">This is another</a></li>
  <li><a href="#">Yet another</a></li>
</ul>


<a href="#" data-dropdown="dropdown" class="tiny button dropdown">Acción</a>
-->

